@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hubba';
  src: url(./assets//fonts/Hubba-Oblique.woff) format('woff');
}

@font-face {
  font-family: 'Abang';
  src: url(./assets/fonts/Abang-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Zing';
  src: url(./assets/fonts/zing-rust-demo-base.woff) format('woff');
}

/* Remover setas do input number */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.7);
  right: 10px;
  padding: 30px;
  color: #000 !important;
  fill: black !important;
  stroke: black !important;
  border-radius: 10px;
}

.swiper-pagination-bullet-active{
  background-color: #000;
}